*{
    margin: 0;
    padding: 0;
}

.navigation{
    position: relative;
    display: flex;
    padding: 1pc;
    justify-content: center;
    align-items: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0,0,0,.7);
}
.nav li{
    display: inline-block;
    margin-left: 1pc;
}
.navigation a{
    font-size: 1.2pc;
    text-decoration: none;
    color: whitesmoke;
}
.navigation a:hover{
    color: black;
}
.nav li h1 a{
    position: relative;
    font-size: 2pc;
}