<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="navigation">
        <div class="nav">
            <ul>
                
                <li><a href="about">About</a></li>
                <li><a href="cancer">Cancer</a></li>
                <li><h1><a href=".">Z A S</a></h1></li>
                <li><a href="diabetes">Diabetes</a></li>
                <li><a href="heart">Heart</a></li>
                <li><a href="kidney">Kidney</a></li>
            </ul>
        </div>
    </div>
    <div class="details">
        <h1>Details :</h1>
        <h2>This is a basic machine learning and deep learning medical app.</h2>
        <p>The prediction of the disease is made with the help of the machine learning model which itself is trained on the thousands of the datasets.</p>
        <p>In the proceeding paragraph I gonna be describing about the type of disease which is emplemented in this app.</p>
    
<!----------------------------------- CANCER----------------------------------->
        
        <div class="cancer">
            <h1>1. Cancer</h1>
            <p>Cancer is a disease in which some of the body's cells grow uncontrollably and spread to other parts of the body. It is a leading cause of dead worldwide, accounting for nearly 10 million deaths in 2020.
                The most common cancer are breast, lung, colon, rectum and prostate cancers.
            </p>
            <h3>What causes cancer :</h3>
            <p>Cancer arises from the transformation of normal cells into tumour cells in a multi-stage process that generally progesses from a precancerous lesion to a malignant tumour.
                The incidence of cancer rises dramtiaclly with age. Tabacco use, alcohol consumption, and air pollution are risk factors of cancer.
                Approximately 13% of cancers daigonised in 2018 globally were attributes to carcinogenic infections, including human papillomavirus (HPV), hepatitis B virus, hepatitis C virus.  
            </p> <br>
            <p>Hepatitis B and C viruses are the risk for liver and cervical cancer, respectively.</p>
            <h3>Symptoms :</h3>
            <p>Some general signs and sysmptoms associated with, but not specific to, cancer, include  :</p> <br>
            <p>
                <li>Fatigue</li>
                <li>Lump or area of thickning that can be felt under the skin</li>
                <li>Changes in bowel or bladder habits</li>
                <li>Persistent, cough or trouble breathing</li>
                <li>Persistent, unexplained fevers or night sweats</li>
                <li>Difficulty swallowing</li>
            </p>
        </div>

        <br>
        <br>

<!------------------------------ DIABETES-------------------------->

        <div>
            <h1>2. Diabetes</h1>
            <p>
                Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat.
                Diabetes effects just about everyone , from over 110 million Americans with or at risk for the disease to many more people who care for them.
            </p>
            <br>
            <br>
            <h3>What causes diabetes:</h3>
            <p>Insulin, a harmone made by pancreas, helps glucose from the food get into your cells to be used for energy. Sometimes your body doesn't make enough
                -or any- insulin or doesn't use insulin well. Glucose then stays in your blood and doesn't reach your cells.
                <br> <br>
                Over time, having too much glucose in your blood can cause health problems. Although diabetes has no cure you can take steps to manage your diabetes and stay healthy. <br>
                The most common type of diabetes are type 1, type 2, and gestational diabetes.
            </p>
            <br><br>
            <h3> Health problems:</h3>
            <p>Over time, high blood glucose leads to problems such as</p>
            <br>
            <p>
                <li>Heart disease</li>
                <li>Stroke</li>
                <li>Kidney disease</li>
                <li>Eye disease</li>
                <li>Dental disease</li>
                <li>Nerve damage</li>
                <li>Foot problems</li>
            </p>
            <br><br>
            <h3>Symptoms</h3>
            <p>Some general signs and sysmptoms associated with, but not specific to, diabetes, include  :</p> <br>
            <p>
                <li>Extreme hunger</li>
                <li>Increased thirst</li>
                <li>Frequent urination</li>
                <li>Unexplained Weight loss</li>
                <li>Slow healing sores and cuts</li>
                <li>Blurred vision</li>
            </p>
        </div><br><br>

<!--------------------------------------------HEART------------------------------------>

        <div>
            <h1>3. Heart</h1>
            <p>Heart is one of the most important part of our body. It pumps the blood through the blood vessels of the circulatory system.
                The pumped blood carries oxygen and nutrients to the body, while carrying metabolic waste such as carbon dioxide to the lungs.
            </p>
            <br><br>
            <h3>What causes heart attack:</h3>
            <p>A heart attack occurs when the flow of blood to the heart is blocked. The blockage is most often a buildup of fat, cholesterol and other
                substances, which form a plaque in the arteries that feed the heart( cornary arteries). <br>
                Sometimes, a plaque can rupture and form a clot that blocks blood flow. The interrupted blood can damage or destroy part of the heart muscles.
                A heart attack can also be called a myocardial infection.
            </p><br><br>
            <h3>Symptoms</h3>
            <p>Some general signs and sysmptoms associated with, but not specific to, heart, include  :</p> <br>
            <p>
                <li>Shortness of breath</li>
                <li>Pressure, tightness, pain, or squeezing or aching sensation in your chest.</li>
                <li>Cold sweats</li>
                <li>Lightheadness or sudden dizziness</li>
                <li>Nausea, indigestion, heartburn or abdominal pain</li>
            </p>
            <br>
            <h3>What to do if someone is having a heart attack:</h3>
            <p>If you see someone who is unconsious and you believe is having a heart attack, first call for emergency medical help. Then check if the person is breathing and has a pulse.
                If the person isn't breathing or you don't find a pulse, only then should you begin CPR(Cardio Pulmonari Resuscitation). <br>
                Push hard and fast on the person chest in a fiarly rhythm -- about 100 to 120 compressions per minute.
            </p>
        </div><br><br>

<!--------------------------------------------------KIDNEY----------------------------------------------->
        <div>
            <h1>4. Kidney</h1>
            <p>Our body has a pair of kidney located in the region of the lower back of body, which filters blood and remove toxins from the body. 
                These toxins go to the bladder and are eliminated when you urinate. Kidney failure occurs when the kidney loses their ability to sufficiently filter waste from the blood.
            </p><br><br>
            <h3>What causes kidney failure:</h3>
            <p>The most common cause of kidney failure is daibetes and high blood pressure.</p><br>
            <h3>Symptoms</h3>
            <p>Some general signs and sysmptoms associated with, but not specific to, kidney, include  :</p> <br>
            <p>
                <li>A reduced amount of urine</li>
                <li>Persistent Nausea</li>
                <li>Confusion</li>
                <li>Excessive fatigue</li>
                <li>Swelling of your legs, ankels, and feet</li>
                <li>Trouble sleeping</li>
                <li>Weakness</li>
            </p>
        </div>
    </div>
</body>
</html>